html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1A1A1A;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
    color: #fff
}

#header a:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #fff;
}

/* main1 */

#header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  padding: 30px;
  margin-right: 30px;
}

#introFlex {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro {
  margin-top: 80px;
  width: 70%;
  /* margin-left: 70px; */
  text-align: center;
}

.intro h1 {
  font-family: 'Abril Fatface', cursive;
  white-space: nowrap;
  font-size: 7.5rem;
  line-height: 120%;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
}

.typing {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  font-size: 7.5rem;
  line-height: 120%;
}

h1 .type {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
}
h1 .type2 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
  animation-delay: 1s;
}
h1 .type3 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
  animation-delay: 2s;
}

.me {
  /* width: 30%;
  max-width: 400px;
  min-width: 100px; */
}

.me img {
  max-width: 400px;
}

.btn {
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  padding: 6px 15px;
  border: 5px solid white;
  margin-top: 50px;
  width: 180px;
  height: 50px;
  border: 1px solid white;
  outline: none;
  color: #black
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: #fff;
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* main2 */

.main2Layout {
  width: 70%;
  padding-right: 100px;
}

.profile {
  width: 200px;
  height: auto;
  border-radius: 8px;
  padding: 10px;
}

.profileImg {
  width: 200px;
  height: 266px;
  border-radius: 8px;
}

.about {
  max-width: 50%;
  min-width: 300px;
  font-size: 18px;
  padding-right: 20px;
  line-height: 180%;
}

.aboutTop {
  width: 100%;
  display: flex;
}

.aboutBottom {
  width: 100%;
}

.aboutBottom ul span{
  display: flex;
  max-width: 90%;
  justify-content: flex-start;
  font-size: 20px;
  margin-top: 50px;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

.skilset {
  max-width: 90%;
  font-family: 'Abril Fatface', cursive;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  font-size: 15px;
}

.skilbox {
  margin-top: 30px;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 purple inset, 0 0 8px 4px blue;
}

.skilbox:hover {
  border-color: white;
  border-radius: 3px;
  color: #fff;
  box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
  transition: all 150ms ease-in-out;
}

/* main3 */

.projectsLayout {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  text-align: center;
  overflow: hidden;
  padding-right: 100px;
}

.projectsLayout a {
  display: block;
  width: 360px;
  height: 225px;
  overflow: hidden;
  position: relative;
}

.projectsLayout figure {
  width: 100%;
  height: 100%;
}

.projectsLayout figcaption {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

.projectsLayout a:hover figcaption,
.projectsLayout a:focus figcaption {
  opacity: 1;
}

.line1,
.line2, .line3 {
  display: flex;
  gap: 15px;
  flex-direction: row;
  /* justify-content: center; */
}

.title2,
.title3,
.title4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.title2 {
  margin-left: 20px;
}

.title4 {
  margin-left: 10px;
}

.titleLine {
  margin: 0 auto;
  width: 60px;
  height: 4px;
  background-color: #fff;
}
.chat,
.starbucks,
.todo,
.kirsh,
.movie_site {
  width: 360px;
  height: 225px;
  border-radius: 5px;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

figcaption h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
}

figcaption p {
  font-size: 18px;
}

#main1 {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-bottom: 200px;
}

#main2, #main3, #main4 {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  padding-top: 200px;
}

#main4 {
    padding-bottom: 250px;
}

/* main4  */

.question {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-right: 100px;
}

.contactIntro {
  font-size: 18px;
  line-height: 150%;
  max-width: 80%;
  min-width: 300px;
}

.github {
  width: 50px;
}

#top {
  position: absolute;
  top: 30px;
  right: 30px;
  letter-spacing: 5px;
  /* width: 100%; */
  /* height: 100px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

#bottom {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 5px;
}

.goGithub {
    cursor: pointer;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}