html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: ivory;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid white;
  color: #131313;
}

a {
  text-decoration: none;
  color: #131313;
}

a:visited {
  color: #131313;
}

#header a:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #131313;
}

#main1 {
  width: 100%;
  height: 100vh;
  position: relative;
}

#introFlex {
  margin-top: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  padding: 30px;
  margin-right: 30px;
}

.intro {
  margin-top: 10px;
  margin-left: 60px;
  text-align: center;
}

.intro h1 {
  white-space: nowrap;
  font-size: 100px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  text-align: left;
}

h1 .type {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
}
h1 .type2 {
  overflow: hidden;

  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
  animation-delay: 1s;
}
h1 .type3 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
  animation-delay: 2s;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.me {
  width: 400px;
  margin-bottom: 60px;
}

.btn {
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  padding: 6px 15px;
  border: 5px solid white;
  margin-top: 25px;
  width: 180px;
  height: 50px;
  border: 1px solid white;
  outline: none;
  color: #fff;
  background: #131313;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: #000;
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #131313;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#main2 {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}

.main2Layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about {
  color: #616161;
  font-size: 18px;
  padding: 20px;
  line-height: 180%;
  width: 60%;
}

.aboutL {
  margin-right: 50px;
  margin-left: 150px;
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.aboutR {
  width: 20%;
}

.profileImg {
  background-color: #fff;
  border: 2px solid #131313;
  width: 200px;
  height: 300px;
  padding: 10px;
  margin-right: 20px;
}
.profile {
  width: 200px;
  height: auto;
  /* border-radius: 10px; */
}

.skilset {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #131313;
  background-color: #fff;
}
.skilbox {
  width: 100%;
  border: 1px solid #131313;
  background-color: #fffb00;
}

.skilset li:first-child {
  margin-top: 10px;
}

/* .skilbox:hover {
  border-color: #ab1830;
  color: #fff;
  box-shadow: 0 0 40px 40px #ab1830 inset, 0 0 0 0 #ab1830;
  transition: all 150ms ease-in-out;
}

.skilbox {
  font-size: 17px;
  box-shadow: 0 0 10px 0 #ab1830 inset, 0 0 10px 4px #ab1830;
} */

#main3 {
  width: 100%;
  height: 100vh;
}

.projectsLayout {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  overflow: hidden;
}

.projectsLayout a {
  display: block;
  width: 380px;
  height: 245px;
  overflow: hidden;
  position: relative;
}

.projectsLayout figure {
  width: 100%;
  height: 100%;
}

.projectsLayout figcaption {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

.projectsLayout a:hover figcaption,
.projectsLayout a:focus figcaption {
  opacity: 1;
}

.line1,
.line2 {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
}

.title3,
.title2,
.title4 {
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
  margin-bottom: 80px;
}

.titleLine {
  margin: 0 auto;
  margin-top: 15px;
  width: 60px;
  height: 4px;
  background-color: #000;
}
.chat,
.starbucks,
.todo,
.kirsh {
  width: 380px;
  height: 245px;
  border-radius: 5px;
}

.movie_site {
  border: 1px solid yellowgreen;
  width: 378px;
  height: 243px;
  border-radius: 5px;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

figcaption h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
}

figcaption p {
  font-size: 18px;
}

#main4 {
  width: 100%;
  height: 100vh;
}

#main4 p {
  font-size: 20px;
  line-height: 150%;
}

.question {
  margin-left: 100px;
}
