#top {
  top: 10px;
  right: 10px;
  gap: 10px;
  font-size: 13px;
  letter-spacing: 3px;
}

.github {
  width: 30px;
}

.intro h1 {
  font-size: 40px;
}

.title2,
.title3,
.title4 {
  font-size: 30px;
}

.me img {
  max-width: 200px;
}

.about {
  padding: 0;
}

.aboutTop {
  text-align: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main1 {
  padding-bottom: 0;
}

.profileImg {
  margin-top: 10px;
  width: 180px;
  height: auto;
}

.chat,
.starbucks,
.todo,
.kirsh,
.movie_site {
  width: 340px;
  height: 205px;
  border-radius: 5px;
}

.projectsLayout {
  gap: 20px;
}

.projectsLayout a {
  width: 340px;
  height: 205px;
}

.aboutBottom ul span {
  margin-top: 30px;
  margin-bottom: 20px;
}

.skilset {
  gap: 15px;
  margin: 10px 50px 10px 50px;
  font-size: 11px;
}

.skilbox {
  margin: 0;
}

#main4 {
  padding-bottom: 130px;
}

.question {
  text-align: center;
}

#bottom {
  gap: 10px;
  height: 150px;
  font-size: 13px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.about,
.contactIntro {
  font-size: 15px;
}
